body {
    font-family: Arial, sans-serif;
    margin:  0;
    padding:  0;
}
header {
    background-color: #f8f9fa;
    color: #343a40;
    padding:  20px;
    text-align: center;
}
nav {
    background-color: #343a40;
    color: white;
    padding:  15px;
}
nav ul {
    list-style-type: none;
    padding:  0;
}
nav ul div {
    display: inline;
    margin-right:  10px;
}
nav ul div li {
    display: inline;
    margin-right:  10px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
}

#save {
    margin-left: 50%;
}

main {
    padding:  20px;
}
footer {
    background-color: #f8f9fa;
    padding:  20px;
    text-align: center;
}

.text-box-container {
    width:  100%;
    max-width:  300px;
    margin:  0 auto;
}

.text-box {
    width:  100%;
    padding:  10px;
    border:  1px solid #ccc;
    border-radius:  4px;
    font-size:  16px;
}

#container {
    position: fixed;
    margin-top:  20px;
    width: 90%;
    height: 60%;
    border: 3px solid #343a40;
    border-radius: 5px;
}

.new-note {
    position: absolute;
    top:  20px;
    z-index:  0;
    width:   100px;
    height:   100px;
    border:   1px solid #ccc;
    margin:   2 auto;
    margin-bottom:   100px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius:  0px  0px  5px  5px;
    cursor: text;
}
.note-dragger {
    position: absolute;
    z-index: 1;
    width: 102px;
    height: 120px;
    background-color: #343a40;
    border-radius: 0px 0px 0px 5px;
    cursor: move;
}

.note-sizer {
    position: absolute;
    z-index: 2;
    width: 9px;
    height: 9px;
    left: 100%;
    top: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 20px 0px 0px 0px;
    cursor: move;
}

* {
    user-select: none;
}


.modal {
    display: none;
    position: fixed;
    z-index:  1;
    left:  0;
    top:  0;
    width:  100%;
    height:  100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #f9f9f9;
    margin:  15% auto;
    padding:  20px;
    border:  1px solid #ccc;
    width:  80%;
  }
  
  .login-close-button {
    color: #ccc;
    float: right;
    font-size:  28px;
    font-weight: bold;
  }
  .signup-close-button {
    color: #ccc;
    float: right;
    font-size:  28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: #343a40;
    text-decoration: none;
    cursor: pointer;
  }